body {
    /* background-color: lightblue; */
    background-image: url("./images/paper\ gif.gif");
    background-image: repeating-linear-gradient(red yellow);
    background-repeat:no-repeat;
   /*background-position:center */
   background: size 250px;
   background-position: right top;   
   margin-right: 200px;
   background-attachment: scroll;
}
b
/*h1 {
    background-color:rgba(rgb(247, 24, 24), green, blue, alpha)
}
p {
    color:aliceblue
}
p{
    background-color:black
}
div {
    background-color: azure
} */